<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        * {
            font-family: Arial, sans-serif;
            box-sizing: border-box;
        }

        @page {
            margin: 5mm;
            size: 210mm 297mm;
        }

        .boleto {
            margin-bottom: 3mm;
            margin: 0 auto 3mm auto;
            width: 205mm;
            overflow: hidden;
            max-height: 70mm;
            display: flex;
            padding-bottom: 1px;
            border-bottom: 1px dashed black;
        }

        .boleto:nth-child(4n+1) {
            page-break-before: always;
        }

        .boleto:first-child {
            padding-top: 0 !important;
        }

        .left_section {
            margin-bottom: 5px;
            padding-right: 3mm;
        }

        .left_section h1 {
            font-size: 11px;
            margin: 0;
        }

        .left_section p {
            font-size: 12px;
            margin: 0;
            text-align: end;
            font-weight: bold;
            border-bottom: 1px solid black;
        }

        .pagador {
            border-bottom: 1px solid black;
        }

        .top_section {
            display: flex;
            height: fit-content;
        }

        .top_section div {
            vertical-align: middle;
            display: flex;
            padding: 0 6px;
            align-items: center;
        }

        .top_section p {
            font-size: 16px;
            margin: 0;
        }

        .center-content {
            height: calc(100% - 25px);
            border: 1px solid black;
            display: flex;
        }

        .center-content .colum {
            font-size: 10px;
            text-align: center;
            width: 100%;
            height: 100%;
        }

        .center-content>.colum:last-child {
            border-left: 1px solid black;
            width: 70mm;
        }

        .right_section {
            width: 100%;
            padding: 1mm;
            display: flex;
            flex-direction: column;
            border-bottom: 1px solid black;
        }

        .right_section:last-child {
            border-bottom: 0;
        }

        .right_section h1 {
            font-size: 11px;
            text-align: start;
            margin: 0;
        }

        .right_section p {
            font-size: 12px;
            text-align: end;
            margin: 0;
        }

        .center-content .row {
            width: 100%;
            padding: 1mm;
            display: flex;
            flex-direction: column;
            border-bottom: 1px solid black;
        }

        .center-content .rowgrid {
            width: 100%;
            display: flex;
            border-bottom: 1px solid black;
        }

        .center-content .rowgrid .block {
            padding: 1mm;
        }

        .block+.block {
            border-left: 1px solid black !important;
        }

        .center-content .row h1,
        .center-content .rowgrid h1 {
            font-size: 11px;
            text-align: start;
            margin: 0;
        }

        .center-content .row p {
            font-size: 12px;
            text-align: start;
            margin: 0;
        }

        .center-content .rowgrid p {
            text-align: end;
            margin: 0;
            font-size: 12px;
        }

        .qrcoderow {
            display: flex;
            border-bottom: 1px solid black;
        }

        .qrcoderow .left {
            display: flex;
            height: fit-content;
            flex-direction: column;
        }

        .qrcoderow .left .top {
            display: flex;
            height: fit-content;
            border-bottom: 1px solid black;
        }

        .qrcoderow .left .block {
            padding: 1mm;
        }

        .qrcoderow .left .block p {
            padding: 0 !important;
            margin: 0;
            text-align: start;
        }

        .qrcoderow .left h1 {
            font-size: 11px;
            text-align: start;
            margin: 0;
        }

        .qrcoderow .left .bot {
            padding: 1mm;
        }

        .qrcoderow .left .bot p {
            margin: 0;
            text-align: start;
        }

        .qrcoderow .right {
            border-left: 1px solid black;
            width: 34mm;
        }

        .qrcoderow .right h1 {
            font-size: 10px;
            margin: 0;
        }

        .error {
            color: #fff;
            background-color: red;
            padding: 10px 20px;
            margin-bottom: 30px;
        }

        @media print {
            .error {
                display: none;
            }
        }
    </style>
</head>

{{{body}}}

<script>
    const error = '{{error}}'
    if (error) {
        alert(error)
    }
    document.querySelectorAll('.date_format').forEach((el) => {
        const date = moment(el.innerText, 'DDMMYYYY').format('DD/MM/YYYY')
        el.innerText = date
    })
    document.querySelectorAll('.valor').forEach((el) => {
        const valor = parseFloat(el.innerText) / 100
        const valorCurrency = valor.toLocaleString('pt-br', { style: 'currency', currency: 'BRL' });
        el.innerText = valorCurrency
    })


    const qrcodes = document.querySelectorAll('.qrcode_value')
    qrcodes.forEach((el) => {
        const qr = el.value
        const qrcode = el.nextElementSibling
        QRCode.toDataURL(qr, {
            errorCorrectionLevel: 'H'
        }, function (err, url) {
            if (err) {
                console.error(err);
                return;
            }
            var img = document.createElement('img');
            img.style.width = '80px';
            img.style.height = '80px';
            img.src = url;

            qrcode.appendChild(img)
        });
    })
</script>
<script src="https://cdn.jsdelivr.net/jsbarcode/3.6.0/JsBarcode.all.min.js"></script>
<script>
    function linhaDigitavelParaCodigoBarras(linhaDigitavel) {

        let digitos = linhaDigitavel.replace(/\D/g, '');
        if (digitos.length !== 47) {
            return ""
        }

        let codigoBarras = digitos.substring(0, 4) +   // Campo 1: Posições 1-4
            digitos.substring(32, 33) + // Campo 5: Posição 33
            digitos.substring(33, 37) + // Campo 6: Posições 34-37
            digitos.substring(37, 47) + // Campo 7: Posições 38-47
            digitos.substring(4, 9) +   // Campo 2: Posições 5-9
            digitos.substring(10, 20) + // Campo 3: Posições 11-20
            digitos.substring(21, 31);  // Campo 4: Posições 22-31

        return codigoBarras;
    }
    const barcodes = document.querySelectorAll('.barcode_value')
    barcodes.forEach(el => {
        const barcode = el.value
        const barcodeEl = el.nextElementSibling
        JsBarcode("." + barcodeEl.classList[0],
            linhaDigitavelParaCodigoBarras(barcode)
            , {
                format: "CODE128",
                displayValue: false,
                width: 1.3,
                height: 30,
                margin: 0,
            });
    })
</script>
<script src="https://cdn.jsdelivr.net/npm/vanilla-masker"></script>
<script>
    const cpfs = document.querySelectorAll('.cpfOrCnpj')
    for (let i = 0; i < cpfs.length; i++) {
        const cpf = cpfs[i].innerText
        if (cpf.length === 11) {
            cpfs[i].innerText = VMasker.toPattern(cpf, '999.999.999-99')
        } else {
            cpfs[i].innerText = VMasker.toPattern(cpf, '99.999.999/9999-99')
        }
    }
</script>
</body>

</html>